@import url("https://fonts.googleapis.com/css2?family=Englebert&family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* starting menu style */

.startMenuContainer {
  height: 100vh;
  background-image: url("icons/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  font-family: "Indie Flower", cursive;
  font-size: 10vw;
  color: #394f41;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Englebert", cursive;
  gap: 15px;
}

.buttonContainer button {
  background-color: #777b76;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  color: #f6f5e3;
  border: none;
  padding: 20px;
  border-radius: 20px;
  margin: 0 15px 0 15px;
  transition: 0.2s ease-in-out;
}

.buttonContainer button:hover {
  background-color: #999d98;
  transform: translateY(-5px);
}

.buttonContainer button:active {
  background-color: #b6bcb5;
}

.authorMessage,
.authorMessage a {
  font-family: "Englebert", cursive;
  font-size: 1.2rem;
  color: #394f41;
  transition: 0.2s ease;
}
.authorMessage a:hover {
  color: #63846f;
}

@media (max-width: 700px) {
  .startMenuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* selecting menu style */

.selectionBoard {
  display: flex;
  gap: 10px;
}

.shipContainer > div.rotated {
  display: flex;
}
.shipContainer > div.hidden {
  visibility: hidden;
}

.boardsContainer {
  margin-top: 50px;
  justify-content: center;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.gameboardContainer {
  margin: 20px;
}

.gameboard {
  display: grid;
  grid-template-areas: "xNumbers xNumbers" "yNumbers cells";
  grid-template-columns: 20px auto;
  gap: 5px;
}

.gameboard > .cells {
  grid-area: cells;
  display: grid;
  max-width: 400px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.numberContainerX {
  grid-area: xNumbers;
  display: flex;
  max-width: 400px;
  justify-content: space-between;
  padding-left: 40px;
}

.numberContainerY {
  grid-area: yNumbers;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cell,
.shipPart {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border: 1px solid #c2c2c2;
}

.shipPart {
  background-color: #5f5f5f;
  border: 1px solid #c2c2c2;
}
.cell:hover,
.cell.human.ship.hidden:hover,
.cell.human2.ship.hidden:hover {
  background-color: #cfcfcf;
  transition: all 0.1s ease-out;
}
.cell.human.ship.hidden,
.cell.human2.ship.hidden {
  background-color: #e0e0e0;
  border: 1px solid #c2c2c2;
}
.cell.human.ship,
.cell.human2.ship {
  background-color: #202020;
  border: 1px solid #202020;
}
.cell.human.ship.hit,
.cell.human2.ship.hit {
  background-color: #f95e5e;
  border: 1px solid #f95e5e;
}
.hit {
  pointer-events: none;
  background-image: url("icons/hit.svg");
}
.cell.computer.ship.hit {
  background-color: #006e1a;
  border: 1px solid #006e1a;
}
.cell.dragging {
  border: 2px dashed #000;
  opacity: 0.8;
}
.highlighted {
  background-color: lightblue;
}

.choosingBoards {
  display: flex;
  flex-wrap: wrap;
}
.selectionBoard.hidden {
  visibility: hidden;
}
